<div id='user-followers-container'>
  <% @user_followers.each do |f| %>
    <div class='user_summary'>
      <div id='photo'>
        <img src=<%= f.photo_link_thumb %>>
      </div>
      <div class='name'>
        <a> <%= link_to(f.fullname, {:action => 'show', :id => f.follower_id}) %> </a>
      </div>
    </div>
  <% end %>
</div>

