<div id='user-followers-container'>
  <% @user_followers.each do |f| %>
    <div class='user_summary'>
      <div id='follow-photo'>
        <img src=<%= f.photo_link_thumb %>>
      </div>
      <div class='follow-info-container'>
        <div class='follow-followers'>
          <a><%= f.follower_count %> Followers</a>
        </div>
        <div class='follow-name'>
          <a> <%= link_to(f.fullname, {:action => 'show', :id => f.follower_id}) %> </a>
        </div>
      </div>
    </div>
  <% end %>
</div>

