<% if @logged_in %>
  <% if !@is_own_user %>

    <div id='follow-button' class='follow-button'>
      <% if @is_following %>
        <a>Unfollow</a>
      <% else %>
        <a>Follow</a>
      <% end %>
    </div>

  <% else %>

    <div id='edit-profile-button'>
      <a>Edit Profile</a>
    </div>

  <% end %>
<% end %>

