<% if !@is_own_user and @logged_in %>

  <div id='follow-button' class='follow-button'>
    <% if @is_following %>
      <a>Unfollow</a>
    <% else %>
      <a>Follow</a>
    <% end %>
  </div>

<% end %>
