<div id='post-topten-close-button'>
  <a id='icon'>x</a>
</div>
<div id='post-topten-page-title' class='page-title-text'>
  <a>TOP TEN</a>
</div>
<div id='post-form-div'>
  <%#= form_tag :controller => 'users', :action => 'get_books', :id => 'book_form' do %>
    <%= text_field_tag :topten_books_search_field, nil, :autocomplete => 'off', placeholder: "title or author" %>
  <%# end %>
</div>
<div id='post-topten-book-results-target'>
</div>
