<div id='search_results'>
  <% @results.each do |result| %>
    <div class='search_item'>
      <div class='search-image'>
        <img src=<%=result.photo_link_thumb %>>
      </div>
      <div class='search-name'>
        <%= link_to(result.fullname, {:action => 'show', :id => result.id}) %>
      </div>
    </div>
  <% end %>
</div>

<style>

  html, body {
    height: 100%;
  }
 
</style>

