<div id='settings-container'>
  <div id='settings-heading' class='header-text'>
    <a>Settings</a>
  </div>
  <div id='change-user-container' class='settings-container'>
    <div id='change-user-label' class='settings-label'>
      <a>Username</a>
    </div>
    <div id='change-user-value' class='settings-value'>
      <a><%= @user_info.username %></a>
    </div>
    <div id='change-user-button-container' class='settings-change-button'>
      <i id='change-user-button' class='fa fa-pencil'></i>
    </div>
  </div>
  <div id='change-email-container' class='settings-container'>
    <div id='change-email-label' class='settings-label'>
      <a>Email</a>
    </div>
    <div id='change-email-value' class='settings-value'>
      <a><%= @user_info.email %></a>
    </div>
    <div id='change-email-button-container' class='settings-change-button'>
      <i id='change-email-button' class='fa fa-pencil'></i>
    </div>
  </div>
  <div id='change-fullname-container' class='settings-container'>
    <div id='change-fullname-label' class='settings-label'>
      <a>Fullname</a>
    </div>
    <div id='change-fullname-value' class='settings-value'>
      <a><%= @user_info.fullname %></a>
    </div>
    <div id='change-fullname-button-container' class='settings-change-button'>
      <i id='change-fullname-button' class='fa fa-pencil'></i>
    </div>
  </div>
  <div id='change-password-container' class='settings-container'>
    <div id='change-password-label' class='settings-label'>
      <a>Password</a>
    </div>
    <div id='change-password-value' class='settings-value'>
      <a>what to put here?</a>
    </div>
    <div id='change-password-button-container' class='settings-change-button'>
      <i id='change-password-button' class='fa fa-pencil'></i>
    </div>
  </div>
  <div id='delete-account-container' class='settings-container'>
    <div id='delete-account-button'>
      <a>Delete Profile</a> 
    </div> 
  </div>
</div>

