<div id='page_title'>
  <a>FEATURED POSTS</a>
</div>
<div id='feed_content'>
</div>
<div id='blurb_navigation'>
  <div id='prev'>
    <a class='header-text'>prev</a>
  </div>
  <div id='next' class='header-text'>
    <a class='header-text'>next</a>
  </div>
</div>
<div id='footer'>
</div>

<script type='text/javascript'>

  blurb_page = 0;
 
  $(document).ready( function() {
    blurb_feed_change_page(blurb_page);
  });

</script>
