<div id='feed_content'>
</div>
<div id='blurb_navigation'>
  <div id='more' class='header-text'>
    <a class='header-text'>more</a>
  </div>
</div>
<div id='footer'>
</div>

<script type='text/javascript'>

  blurb_page = 0;
 
  $(document).ready( function() {
    blurb_feed_change_page_static(blurb_page);
  });

</script>
