<div id='welcome-text' class='header-text'>
  <a>Welcome to Hemingwire</a>
</div>
<div id='explore-as-guest-link' class='header-text'>
  <a><%= link_to "Explore", :controller => 'home', :action => 'featured' %> as guest.</a>
</div>
<div id='sign-up-partial'>
  <%= render :file => '/users/new', :layout => false %>
</div>
