<% @page_title = "Post Book | hemingwire" %>
<div>
  <%= form_tag :action => 'get_books', :id => 'book_form' do %>
    <p>Title:</br><%= text_field_tag :book_title, nil, :autocomplete => 'off' %></p>
    <%#= submit_tag("search")%>
  <% end %>
</div>
<%#= observe_field :book_title,
  :update => 'results',
  :url => {:controller => 'books', :action => 'get_books'},
  :with => :book_title %>

<div id="results">
</div>
