// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* partial _index_partial */

#post_close_button {
   margin-top: 0;
   text-align: right;
}

#post_close_button > a {
   color: #787878;
   font-size: 14pt;
   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

   cursor: pointer; cursor: hand; 
}

#book_search_field {
   padding-left: 7px;
   
   border: 1px solid #bcbcbc;
   font-family: "Courier New", Courier, monospace;

   height: 30px;
   width: 440px;
}

#post_page_title {

   font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
   font-size: 24pt;
   font-style: italic;

   margin-bottom: 16px;

}

#book_results_target {
  margin: 10px 0px;
}

/* partial _blurb_form */

#blurb_form_field {
   padding: 7px;
   border: 1px solid #bcbcbc;

   width: 435px;
   height: 60px;

   font-family: "Courier New", Courier, monospace;
}
