.sign_block {
  width: 250px;
  margin: 100px auto 10px auto; 
}

.sign_form{
  padding: 0px 0px 0px 7px;
  margin-bottom: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: #bcbcbc;
  font-family: "Courier New", Courier, monospace;

  height: 30px;
  width:  235px;
}

.sign_submit {
  height: 33px;
  width:  244px;
  color: #ffffff;
  background: #000000;
  font-family: "Courier New", Courier, monospace;
  border: 0px;
}

#signup-link, #login-link {
  margin-top: 10px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 10pt;
  color: #7e7e7e;
}

#more-user-show {
  float: left;  

  cursor: pointer;
  cursor: hand;
}

#user-footer {
  display: inline-block;

  height: 70px;
}

#user-post-feed {
  display: table;
  margin: auto;

  width: 500px;
}

#follow-button-container {
  cursor: pointer;
  cursor: hand;
}

/* 
   top_ten.html.erb  
     - plus partials 
*/ 

#user-topten-container {
  display: table;
  margin: auto;
}

.topten-blurb {
  display: block;

  overflow: hidden;

  margin: 30px 0 20px 0;
}

#order {
  float: left;

  width: 80px;

  margin: 45px 20px 0 0;

  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  font-size: 36pt;
  font-weight: 400;
}

#order-content {
  float: right;
}

#up-arrow-filler {
  height: 32px;
}

#order-content > .topten-up {
  display: table;
  margin: auto;

  padding: 10px;

  cursor: pointer;
  cursor: hand;
}

#order-content > #number {
  display: table;
  margin: auto auto -3px auto;
}

#order-content > .topten-down {
  display: table;
  margin: auto;

  padding: 10px;

  cursor: pointer;
  cursor: hand;
}


.topten-blurb > #cover {
  float: left;

  margin: 5px; 
 
  cursor: pointer;
  cursor: hand;
}

.topten-blurb > #cover > img {
  border: 1px solid black;
}

.topten-blurb > #wrapper {
  float: left;

  max-width: 315px; 

  margin: 3px auto auto 6px;
}

.topten-blurb > #wrapper > #user {
  display: inline-block;

  margin-right: 10px;
}

.topten-blurb > #wrapper > #user > a {
  color: #000000;

  font-weight: bold;
  text-decoration: none;
}

.topten-blurb > #wrapper > #date {
  display: inline-block;

  color: gray;
}

.topten-blurb > #wrapper > #content {
}

#add-topten-button {
  cursor: pointer;
  cursor: hand;

  font-size: 18pt;
}

#topten-post-overlay {
  visibility: hidden;
  position: fixed;

  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(54, 54, 54, 0.5);
}

#topten-post-overlay > #topten-post-overlay-content {
  display: table;
  margin: 60px auto;
}

#topten-post-overlay > #topten-post-overlay-content > #topten-post-ajax-target {
  background-color: #FFFFFF;
  border: 1px solid #000000;
  padding: 5px 15px 15px 15px;
  text-align: center;

  width: 500px;
}

#post-topten-close-button > #icon {
  cursor: pointer;
  cursor: hand;
 
  color: #787878;
  font-size: 14pt;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#post-topten-close-button {
  margin-top: 0;
  text-align: right;
}

#topten_books_search_field {
  padding-left: 7px;
  border: 1px solid #BCBCBC;

  font-family: "Courier New", Courier, monospace;

  height: 30px;
  width: 440px;
}

#add-topten-button {
  display: table;
  margin: auto;

  font-size: 40pt;
}

/* search.html.erb */

#search-results {

}

.search_item {
  float: left;

  max-width: 150px;

//  border: 1px solid #5A5A5A;
  margin: 10px;
}

.search_item a {  
  //font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.search-followers a {
  font-size: 9pt;
  color: gray;
}

.search-name a {
  font-size: 11pt;
  color: black;
  text-decoration: none;
}

.search-info-container {
//   padding: 4px 4px 8px 4px;
}

/* follow(ers/ing) */

.user_summary {
  float: left;
  max-width: 150px;
 
  margin: 10px
}

.follow-info-container {
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.follow-followers {
  margin: -3px 0;
}

.follow-followers a {
  font-size: 9pt;
  color: gray;
}

.follow-name a {
  font-size: 11pt;
  color: black;
  text-decoration: none;
}

/* show.html.erb */

  #user_page_container {
    position: relative;
  }

  #perm_panel {
   
    margin: 30px 0 30px 0;

    //border-style: solid;
    //border-width: 0px 1px 0px 0px;

    //font-family: "minion-pro", times, serif;
    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    font-weight: 400;
    text-decoration: none;
    
  }

  #perm_panel > #user_info {
    display: table;
    margin: auto; 

  }

  #perm_panel > #user_info > #name-container {
    display: table;
    margin: 5px auto 5px auto;
   
    font-size: 20pt;
    font-weight: 600;
  }

  #perm_panel > #user_info > #name-container > #name {
    float: left;
  }

  #perm_panel > #user_info > #photo{
    display: block;
    margin: auto;

    border-style: solid;
    border-width: 1px;
  }

  #perm_panel > #user_info > #about {
    display: table;
    margin: auto;

    padding: 2px;

    //font-family: "Courier", Courier, monospace;
    font-size: 10pt;
    letter-spacing: -0.5pt;
  } 

  #edit-profile-button {
    display: inline-block;
    margin: 5px auto 5px auto;

    padding: 4px;
 
    font-size: 11pt;

    border: 1px solid black;

    cursor: pointer;
    cursor: hand;
  }

  #perm_panel > #nav {
    display: table;
    margin: auto;
  }

  #perm_panel > #nav > .link {
    float: left;

    padding: 2px;
    margin: 5px 5px 5px 5px;

    cursor: pointer;
    cursor: hand;
  }

  #perm_panel > #nav > .selected {
    color: #8B0000;
  }

  #perm_panel > #nav > .link > a {
    //font-family: "Courier", Courier, monospace;
    font-size: 10pt;
    letter-spacing: -0.5pt;
    text-decoration: none;
  }

  #info_window {
  }

  #follow-button-container {
    text-align: center;
  }

  #follow-button {
    display: inline-block;
    margin: 5px auto 5px auto;

    padding: 4px;
 
    font-size: 11pt;

    border: 1px solid black;

    cursor: pointer;
    cursor: hand;
  }

/* Settings */

  #settings-container {
    display: table;
    margin: auto;

    font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
    font-size: 11pt;
    font-weight: 400;
  
  }
 
  #settings-heading {
    font-size: 15pt;
  
    padding-bottom: 3px;

    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #979797;
  }

  .settings-label, .settings-value, .settings-change-button {
    float: left;
  }

  .settings-label {
    width: 150px;
  }

  .settings-value {
    width: 250px;
  }

  .settings-container {
    overflow: hidden;

   margin: 10px 0;
  }

  #delete-account-button {
    display: inline-block;

    padding: 3px;

    border: 1px solid black;
  }




